

.button-style {

    background-color: rgb(230, 230, 230);
    color: rgb(171, 15, 13);
    width: 5rem;
    border: none;
    border-radius: 20px;

}



.button-style-save {

    background-color: rgb(230, 230, 230);
    color: rgb(45, 45, 45);
    width: 5rem;
    border: none;
    border-radius: 20px;

}

.button-style-cta {
    background-color: rgb(50, 50, 50);
    color: rgb(230, 230, 230);
    
    width: 5rem;
    border: none;
    border-radius: 20px;
}

._input-style {
    border: none;
width: 100%;
margin-bottom: 20px;
border-radius: 10px;
color: rgb(68, 68, 68);
padding: 10px;
border: 1px solid rgb(182, 182, 182);

    
}



._box {
    border-radius: 10px;
}

._box-tickets {
    border-radius: 10px;
    background-color: rgb(234, 234, 234);
    padding: 20px;

}


._box-full {
    height: 300px;
}

h3{
    font-size: 25px;
    color: rgb(97, 97, 97);
}

._text-black {
    color: rgb(52, 52, 52);
}

._text-green {
    color: rgb(34, 166, 16);
}

._text-orange {
    color: rgb(255, 123, 14);
}